.contactListItem {
  display: flex;
  padding: 5px 0;
  cursor: pointer;
}

.contactListItem:hover {
  color: rgb(184,176,183);
  background-color: #3e313c;
}

.contactListItemImage {
  border-radius: 50%;
  margin-right: 5px;
}